@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,300;7..72,400;7..72,500;7..72,600;7..72,700;7..72,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

.site-container {
    @apply px-4 sm:px-[50px] md:px-[100px] lg:px-[55px] xl:px-[150px] 2xl:px-[200px];
}

.mt-section {
    @apply mt-8 lg:mt-[100px] xl:mt-[150px];
}

.shadow-1 {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.shadow-2 {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}

.shadow-box {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.shadow-3 {
    box-shadow: #efefef 0px 2px 5px 0px;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.shadow-red {
    box-shadow: rgba(222, 4, 26, 0.25) 0px 50px 100px -20px, rgba(230, 2, 2, 0.3) 0px 30px 60px -30px;
}